---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima",
  "minima/syntax-highlighting"
;

@media (prefers-color-scheme: dark) {
    body {
      background-color: #1c1b1f;
    }

    p, h1, h2, h3 {
        // font-family: Helvetica;
        // font-family: monospace;
        color: white;
    }
    
    a {
        color: #ffc32c;
        text-decoration: none; // underline
    }
    
    a:visited {
        color: #ffc32c;
    }

    a:hover {
        color: #ffda7b;
    }

    pre,
    code {
        color: #e3fae3;
        border: none;
        background-color: rgb(0, 0, 0);
    }

    .highlight {
        .highlighter-rouge & {
            color: #00FF00;
            border: none;
            background-color: black;
        }
    }

    .footer {
        color: white;
    }

    .header {
        color: white;
    }    
}